/** Team */
.team {
  position: relative;
  margin-bottom: 30px;
  max-width: 255px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nk-block-left .team {
  max-width: 100%;
}

.team:hover .team-show {
  opacity: 1;
}

.team-s2 {
  max-width: 240px;
  text-align: center;
}

.team-s2 .word-split {
  justify-content: center;
}

.team-s2:hover .team-show {
  opacity: 0.25;
}

.team-s4 {
  padding: 30px 30px;
}

.team-s5 {
  text-align: left;
  max-width: 228px;
  padding-bottom: 25px;
}

.team-s5:before {
  position: absolute;
  content: "";
  left: 20px;
  top: 50px;
  right: 0;
  bottom: 0;
  background: #eaeff6;
  z-index: -1;
}

.bg-theme .team-s5:before {
  background: #6e19c2;
}

.has-bg-image .team-s5:before {
  background: #6e19c2;
}

.tc-light .team-s5:before {
  background: #2e186a;
}

.team-s6 {
  text-align: left;
  display: flex;
  max-width: 100%;
}

.team-s6 .team-left {
  width: 135px;
  flex-shrink: 0;
}

.team-s6 .team-photo {
  max-width: 170px;
  margin-right: 25px;
  margin-left: 0;
}

.team-sm-s2 {
  text-align: left;
  max-width: 145px;
}

.team-photo {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s;
  z-index: 2;
}

.team-photo + .list {
  padding-top: 15px;
}

.team-photo-s1 {
  max-width: 160px;
}

.team-photo img {
  border-radius: 6px;
  width: 100%;
  transition: all 0.4s;
}

.team-photo-sm {
  max-width: 180px;
}

.team-photo-s2 {
  max-width: 90%;
}

.team-photo-s2:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(134, 107, 254, 0.4);
  border-radius: 6px;
  z-index: 1;
}

.team-photo-s3:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(to top left, #866bfe 0%, #2bc9b4 100%);
  border-radius: 6px;
  z-index: 1;
  opacity: 0.2;
}

.team-photo-circle {
  border-radius: 50%;
}

.team-sm-s2 .team-photo {
  margin-left: 0;
  max-width: 90%;
}

.team-sm-s2:hover .team-photo {
  transform: translateY(-8px);
}

.team-s3 .team-photo {
  max-width: 160px;
}

.team-s5 .team-photo {
  margin-left: 0;
}

.team-s5 .team-photo:before,
.team-s5 .team-photo:after {
  position: absolute;
  content: "";
}

.team-s5 .team-photo:before {
  top: 24px;
  right: -33px;
  height: 3px;
  width: 65px;
  background: linear-gradient(to top left, #866bfe 0%, #2bc9b4 100%);
  z-index: 1;
}

.team-s5 .team-photo:after {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(134, 107, 254, 0.4);
  transition: all 0.4s;
}

.team-s5 .team-photo:hover {
  transform: translateY(-8px);
}

.team-s5 .team-photo:hover:after {
  opacity: 0.5;
}

.team-s5 .team-photo:hover .team-show {
  opacity: 0;
}

.team-photo-bg:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  transform: scale(1);
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease;
  background-image: linear-gradient(90deg, #2bc9b4 0%, #866bfe 100%);
}

.team-s3-alt .team-photo-bg:before {
  opacity: 0;
  transform: scale(0.8);
}

.team-photo-bg a {
  position: absolute;
  content: "";
  border-radius: 50%;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  z-index: 1;
}

.team-photo-bg:hover a + img {
  transform: scale(0.85);
}

.team-s3-alt .team-photo-bg:hover a + img {
  transform: scale(1);
}

.team-s3-alt .team-photo-bg:hover:before {
  opacity: 1;
  transform: scale(1);
}

.team-show {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(134, 107, 254, 0.4);
  border-radius: 6px;
  transition: all 0.4s;
  z-index: 20;
  opacity: 0;
}

.team-s2 .team-show {
  opacity: 0;
}

.team-s3 .team-photo-bg .team-show {
  opacity: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.team-s5 .team-show {
  border-radius: 0;
}

.team-s5:hover .team-show {
  opacity: 0;
}

.team-social {
  margin: 0 -5px;
}

.team-photo .team-social {
  position: absolute;
  bottom: -17px;
  right: 17px;
  z-index: 21;
  text-align: right;
}

.team-social li {
  padding: 0 4px;
  display: inline-block;
}

.team-social li a {
  font-size: 13px;
  text-align: center;
  display: inline-block;
  line-height: 34px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  color: #fff !important;
  background: #2bc9b4;
  box-shadow: 0px 2px 15px 0px rgba(43, 201, 180, 0.5);
}

.team-social li a:hover {
  color: #fff !important;
  background: #866bfe;
  box-shadow: 0px 2px 15px 0px rgba(134, 107, 254, 0.5);
}

.team-social-s2 {
  margin: 0 -10px;
}

.team-social-s2 li {
  padding: 0 10px;
}

.team-social-s2 li a {
  width: auto;
  background-color: transparent;
  box-shadow: none;
  color: #415076 !important;
}

.tc-light .team-social-s2 li a {
  color: #fff !important;
}

.team-social-s2 li a:hover {
  color: #866bfe !important;
  background-color: transparent;
  box-shadow: none;
}

.team-s2 .team-social-s2 {
  padding-top: 15px;
}

.team-s3 .team-social-s2 {
  padding-top: 10px;
}

.team-social-vr li {
  display: block;
  text-align: center;
}

.team-social-vr li a {
  width: 30px !important;
}

.team-s5 .team-social {
  position: absolute;
  top: 64px;
  right: 20px;
}

.team-s5 .team-social li a {
  color: #866bfe;
}

.team-name {
  color: #415076;
  padding-top: 28px;
  font-weight: 600;
}

.team-name.title {
  margin-bottom: 0.5rem !important;
}

.team-s2 .team-name.title-sm {
  font-size: 0.95em !important;
}

.team-s2 .team-name {
  padding-top: 18px;
}

.team-s3 .team-name {
  color: #866bfe;
  font-size: 1.125rem !important;
  font-weight: 400;
  margin-bottom: 1px !important;
}

.team-s3-alt .team-name {
  color: #5b53a2;
}

.tc-light .team-s3-alt .team-name {
  color: #fff;
}

.team-s4 .team-name {
  font-weight: 400;
  padding-top: 21px;
  font-size: 1.33rem;
  margin-bottom: 0 !important;
}

.team-s5 .team-name {
  padding-left: 45px;
  padding-right: 40px;
}

.team-s6 .team-name {
  text-transform: uppercase;
  font-weight: 400;
}

.team-position {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
}

.team-s3 .team-position {
  font-weight: 300;
  color: #536697;
}

.team-s3-alt .team-position {
  color: #866bfe;
}

.tc-light .team-s3-alt .team-position {
  color: #866bfe;
}

.team-s4 .team-position {
  padding-bottom: 10px;
}

.team-s5 .team-position {
  padding-left: 45px;
  padding-right: 40px;
  color: #5b53a2;
}

.team-s6 .team-position {
  position: relative;
  color: #866bfe;
  padding-bottom: 13px;
  margin-bottom: 5px;
  line-height: 1.4;
}

.team-s6 .team-position:before {
  position: absolute;
  height: 3px;
  width: 190px;
  left: 0;
  bottom: 0;
  content: "";
  background: linear-gradient(to right, #866bfe 0%, #2bc9b4 100%);
  z-index: 5;
}

/* .tc-light .team-position {
  color: #af9cff;
} */

.team-featured-photo {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.team-featured-info {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 18px;
  padding: 15px 20px;
}

.team-featured-info span {
  font-size: 16px;
  font-weight: 300;
  display: block;
  padding-top: 5px;
}

.team-featured-cont p:last-child {
  margin-bottom: 0;
}

.team-featured-sub {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.15em;
}

.team-popup {
  position: relative;
  max-width: 100%;
  margin: 10px;
  padding: 15px;
  background: #fff;
  border-radius: 6px;
}

.team-popup-info p:last-child {
  margin-bottom: 0;
}

.team-list {
  margin-bottom: -30px;
}

.team-s4 .team-desc {
  font-size: 0.87rem;
  margin-bottom: 8px;
}

.team-s4 .team-desc p {
  font-size: inherit;
}

@media (min-width: 576px) {
  .team {
    margin-bottom: 50px;
  }
  .team-s2 {
    margin-bottom: 30px;
    text-align: left;
  }
  .team-s2 .word-split {
    justify-content: flex-start;
  }
  .team-s4 {
    padding: 30px 15px;
  }
  .team-s2 .team-photo {
    margin-left: 0;
  }
  .team-s2 .team-name {
    padding-top: 25px;
  }
  .team-featured-info {
    padding: 25px 30px;
  }
  .team-popup {
    padding: 40px;
  }
  .team-list {
    margin-bottom: -50px;
  }
}

@media (min-width: 768px) {
  .team-even {
    margin-top: 60px;
  }
  .team-s4 {
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .team-featured-cont {
    padding-left: 20px;
  }
  .team-featured-title {
    padding: 8px 0 15px;
  }
  .team-name {
    padding-top: 34px;
    margin-bottom: 8px !important;
  }
  .team-s2 .team-name,
  .team-s3-alt .team-name {
    padding-top: 20px;
  }
  .team-s5 .team-name {
    padding-top: 24px;
  }
  .team-position {
    font-size: 0.88rem;
  }
  .team-position-sm {
    font-size: 13px;
  }
  .team-social {
    bottom: -20px;
    right: 20px;
    margin: 0 -5px;
  }
  .team-social li {
    padding: 0 4px;
  }
  .team-social li a {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    width: 40px;
  }
  .team-social-s2 {
    margin: 0 -8px;
  }
  .team-social-s2 li {
    padding: 0 8px;
  }
  .team-social-s2 li a {
    font-size: 14px;
    height: auto;
    width: auto;
  }
  .team-popup {
    margin: 10px auto;
    width: 950px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .team-s5 .team-social {
    right: 9px;
  }
}

@media (min-width: 1600px) {
  .team-photo-s2 {
    max-width: 100%;
  }
}

/** Partners */

/* .bg-theme-partners {
  background-color: #fe4350 !important;
} */
.partner-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -15px;
}

.partner-list-left {
  justify-content: left;
}

.partner-list-lg {
  margin-bottom: -20px;
}

.partner-logo {
  padding: 15px 10px;
}

[class*="col-"] > .partner-logo {
  padding: 0;
}

.partner-logo img {
  max-height: 30px;
  max-width: 100%;
  width: auto !important;
  margin-left: auto;
  margin-right: 0;
}

.has-carousel .partner-logo img {
  margin-right: auto;
}

.partner-list-lg .partner-logo {
  padding: 20px 25px;
}

.partner-list-lg .partner-logo img {
  max-height: 50px;
}

.partner-logo-s2,
.partner-logo-s3 {
  width: 50%;
  max-width: 50%;
  text-align: center;
  padding: 0 10px;
}

.partner-logo-s2 img,
.partner-logo-s3 img {
  max-height: 50px;
}

.partner-list-left .partner-logo-s2,
.partner-list-left .partner-logo-s3 {
  text-align: left;
}

.partner-logo-s3 img {
  max-height: 60px;
}

.partner-logo-lg {
  width: 50%;
  margin-bottom: 30px;
}

.partner-box {
  padding: 15px 0px;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .partner-logo-s2,
  .partner-logo-s3 {
    margin-bottom: 30px;
    max-width: 16.6%;
    width: 16.6%;
  }
  .partner-logo-lg {
    width: 33%;
  }
  .partner-box {
    padding: 15px 66px;
    box-shadow: 0px 5px 25px rgba(255, 108, 63, 0.1);
  }
}

@media (min-width: 992px) {
  .partner-box .partner-list {
    justify-content: space-between;
  }
  .partner-list-lg {
    margin-bottom: -20px;
  }
  .partner-list-lg .partner-logo {
    padding: 20px 25px;
  }
  .partner-list-lg .partner-logo img {
    max-height: 50px;
  }
  [class*="col-"] > .partner-logo {
    padding: 15px 0;
  }
}

/** Contact */
.tc-light #contact {
  color: #415076 !important;
}
#contact .title {
  color: #fe4350;
}

#contact .section-head p {
  color: #415076;
}

#contact .input-line {
  color: #415076;
  border-bottom: 1px solid #dee2e6;
}
#contact .field-label-line {
  color: rgba(65, 80, 118, 0.6);
}

.bg-light-alt {
  background-color: #fff5f6 !important;
}
.contact-wrap {
  padding: 20px;
}

.contact-list {
  margin-top: -7.5px;
  margin-bottom: -7.5px;
  position: relative;
  z-index: 2;
}

.contact-list li {
  display: flex;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  font-size: 0.94rem;
}

.contact-list-s1 {
  display: flex;
  justify-content: center;
}

.contact-list-s1 li {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-icon {
  height: 38px;
  width: 38px;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  background: #ff6c3f;
  box-shadow: 0px 2px 15px 0px rgba(255, 108, 63, 0.5);
  border-radius: 50%;
  margin-right: 15px;
  flex-shrink: 0;
}

.tc-light .contact-icon {
  color: #fe4350;
  background: #fff;
  box-shadow: none;
}

.bg-secondary .contact-icon {
  color: #ff6c3f;
}

.contact-list-s1 .contact-icon {
  margin-right: 0;
  color: #fff;
  box-shadow: 0px 2px 15px 0px rgba(254, 67, 80, 0.5);
  background: linear-gradient(-45deg, #fe4350 0%, #ff6c3f 100%);
}

.tc-light .contact-list-s1 .contact-icon {
  color: #fe4350;
  background: #fff;
}

.contact-icon-s2 {
  color: #ff6c3f;
  background: transparent;
  box-shadow: inset 0 0 0 2px #ff6c3f;
}

.tc-light .contact-icon-s2 {
  color: #fff;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fff;
}

.contact-icon-s3 {
  position: relative;
  color: #fe4350;
  background: linear-gradient(to right, #fe4350 0%, #ff6c3f 100%);
  box-shadow: none;
}

.tc-light .contact-icon-s3 {
  color: #fff;
  background: linear-gradient(to right, #fe4350 0%, #ff6c3f 100%);
}

.contact-icon-s3:after {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  content: "";
  background: #fff;
  border-radius: 50%;
  z-index: 0;
}

.bg-light .contact-icon-s3:after {
  background: #f6fafd;
}

.bg-light-alt .contact-icon-s3:after {
  background: #fff5f6;
}

.bg-theme .contact-icon-s3:after {
  background: #fe4350;
}

.bg-theme-alt .contact-icon-s3:after {
  background: #ff6c3f;
}

.bg-theme-dark .contact-icon-s3:after {
  background: #36080b;
}

.bg-theme-dark-alt .contact-icon-s3:after {
  background: #49191d;
}

.bg-theme-accent .contact-icon-s3:after {
  background: #fe4350;
}

.bg-theme-accent-alt .contact-icon-s3:after {
  background: #ff6c3f;
}

.contact-icon-s3:before {
  position: relative;
  z-index: 1;
}

.contact-text {
  padding-top: 7px;
}

.contact-list-s1 .contact-text {
  width: 100%;
}

.contact-social {
  margin-top: auto;
  padding-top: 20px;
}

.contact-social h6 {
  margin-bottom: 1rem;
}

.subscribe-wrap {
  padding: 20px;
}

@media (min-width: 576px) {
  .contact-wrap {
    padding: 50px;
  }
  .subscribe-wrap {
    padding: 65px;
  }
}

@media (min-width: 768px) {
  .contact-list-s1 li {
    width: 33.33%;
    flex-wrap: wrap;
  }
  .contact-list-s1 .contact-text {
    width: auto;
  }
  .contact-list-s1 .contact-icon {
    margin-right: 15px;
  }
}

@media (max-width: 480px) {
  .contact-list-s2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .contact-list-s2 li {
    flex-wrap: wrap;
    text-align: center;
  }
  .contact-list-s2 li .contact-icon {
    margin-right: 0;
  }
  .contact-list-s2 li .contact-text {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .contact-list-s2 {
    display: flex;
    justify-content: center;
  }
  .contact-list-s2 li {
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact-wrap,
  .subscribe-wrap {
    padding: 35px;
  }
}

.social-links {
  display: flex;
  margin: -3px;
}

.social-links li {
  padding: 3px;
}

.social-links li a {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #fff;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  color: #415076;
}

.social-links li a:hover {
  color: #fe4350;
  background: #fff;
}

.tc-light .social-links li a {
  color: #fff;
}

.tc-light .social-links li a:hover {
  color: #fe4350;
}

.bg-secondary .social-links li a:hover {
  color: #ff6c3f !important;
}

.social-links-s2 li a {
  border: none;
}

.social-links-s2 li a:hover {
  background-color: #fff;
  color: #fe4350 !important;
}

.tc-light .social-links-s2 li a:hover {
  color: #fe4350 !important;
}

@media (min-width: 992px) {
  .section-contact .ovm-h-60 {
    height: 50%;
  }
}